li
  a(href='#import-drop-target') Import
li
  a(href='#less') Less components
li
  a(href='#plugins') jQuery plugins
li
  a(href='#less-variables') Less variables
  ul.nav
    each section in sections
      if section.customizable
        li
          a(href='#'+section.id)= section.heading
li
  a(href='#download') Download
